# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment (VERY IMPORTANT)
venv/
.env/

# Environment variables / secrets
config.properties
.env
secrets.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log